<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

    <!-- Everything until this point is ignored, each of these fragments can be included in other pages individually -->

    <header class="jumbotron"  th:fragment="header">
        <div class="container">
            <h1>Prismic Starter</h1>
        </div>
    </header>

    <!-- Everything after this point is ignored, it is only included for the sake of natural templating -->

</body>
</html>